@{
    ViewBag.Title = "Index";
}

@if (Request.IsAuthenticated) {
    <div>
        <text>
            Hello master
        </text>
            @ViewBag.UserName;

        </div>
    <div>
<text>Using Rating: </text>
                @ViewBag.Rate.Name
        </div>
} else {
    <text>
        You are nto logged in!
    </text>
}



<h2>Index</h2>
<p>Here shizzle can be rated!</p>