@model System.Security.Principal.IIdentity

@if (Request.IsAuthenticated) {
    <div>
        <text>
            Hello master  @Model.Name;
        </text>
           

        </div>

    <div>@Html.ActionLink("Ratings", "GetRatingTypes", "RateMyShizzle")</div>
} else {
    <text>
        You are not logged in!
    </text>
}



<h2>Index</h2>
<p>Here shizzle can be rated!</p>