@{
    ViewBag.Title = "Index";
}

@if (Request.IsAuthenticated) {
    <text>
        Hello master
        </text>
            @ViewBag.UserName;
} else {
    <text>
        You are nto logged in!
    </text>
}



<h2>Index</h2>
<p>Here shizzle can be rated!</p>