@{
    ViewBag.Title = "Index";
}

@if (Request.IsAuthenticated) {
    <div>
        <text>
            Hello master
        </text>
            @ViewBag.UserName;

        </div>

    <div>@Html.ActionLink("Rate", "GetRating", "RateMyShizzle")</div>
} else {
    <text>
        You are not logged in!
    </text>
}



<h2>Index</h2>
<p>Here shizzle can be rated!</p>